KSEF_ENV=test
KSEF_BASE_URL=https://api.ksef.mf.gov.pl/v2
KSEF_NIP=12345678910
KSEF_TOKEN=your_token
KSEF_PUBLIC_KEY_PATH=keys/ksef_public_key.pem
PDF_RENDER_SCRIPT=path/to/render_invoice.mjs

ALLOW_PROD_SEND=false
